source/scorpio.xsd.bak

<?xml version='1.0' encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="user">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="username" type="xsd:string"/>
				<xsd:element name="password" type="xsd:string"/>
				<xsd:element name="usertype" type="xsd:integer"/>
				<xsd:element name="loginfrom" type="xsd:integer"/>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="birthday" type="xsd:time"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="diary">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:integer"/>
				<xsd:element ref="user"/>
				<xsd:element name="status" type="xsd:integer"/>
				<xsd:element name="amount" type="xsd:decimal"/>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="birthday" type="xsd:time"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>